extends layout

block head

	title THINQ UP - Mental health tools
	meta(property="og:title", content="THINQ UP - Mental health tools")
	meta(property="og:type", content="website")

block content

	ul
		li
			a(href="/thought-record") Thought record
		li
			a(href="/pleasure-achievement-chart") Pleasure/achievement chart