extends layout

block head

	title Mind tools

block content

	h1 Mind tools

	ul
		li
			a(href="/thought-record") Thought record
		li
			a(href="/pleasure-achievement-chart") Pleasure/achievement chart