extends layout

block head

	title Thought record - THINQ UP
	meta(property="og:title", content="Thought record - THINQ UP")
	meta(property="og:type", content="website")

block content

	h1 Thought record

	p If you're feeling upset or worried, a thought record can help you think about your situation from another perspective.

	p This can often help you feel more calm and positive.

	form

		.form-group

			label(for="input-what-happened") What happened?

			textarea#input-what-happened

		.form-group

			label(for="input-emotion") How do you feel?

			input#input-emotion

			label(for="input-emotion-rating") From 1 to 10, how intense is this feeling?

			input.small(type="number")#input-emotion-rating

		.form-group

			label(for="input-negative-thoughts") What negative thoughts do you have?

			textarea#input-negative-thoughts

		.form-group

			label(for="input-negative-thoughts-evidence") What evidence supports those thoughts?

			details

				summary Help

				:markdown
					What facts support your negative thoughts? For example:

					- experiences you've had
					- things people have said
					- research you've heard about

			textarea#input-negative-thoughts-evidence

		.form-group

			label(for="input-contradicting-evidence") What evidence contradicts those thoughts?

			details

				summary Help

				:markdown
					What facts contradict your negative thoughts? For example:

					- experiences you've had
					- things people have said
					- research you've heard about

			textarea#input-contradicting-evidence

		.form-group

			label(for="input-positive-thoughts") What are some new, positive thoughts?

			textarea#input-positive-thoughts

		.form-group

			label(for="input-emotion-2") How do you feel?

			input#input-emotion-2

			label(for="input-emotion-2-rating") From 1 to 10, how intense is this feeling?

			input.small(type="number")#input-emotion-2-rating

		p Hopefully, by thinking through these questions, you'll now be feeling more positive about your situation.
