extends layout

block head

	title Thought record - THINQ UP
	meta(property="og:title", content="Thought record - THINQ UP")
	meta(property="og:type", content="website")

block content

	h1 Thought record

	p If you're feeling upset or worried, a thought record can help you think about your situation from another perspective.

	p This can often help you feel more calm and positive.

	form

		.form-group

			label What happened?

			textarea

		.form-group

			label How do you feel?

			input

			label From 1 to 10, how intense is this feeling?

			input.small(type="number")

		.form-group

			label What negative thoughts do you have?

			textarea

		.form-group

			label What evidence supports those thoughts?

			details

				summary Help

				:markdown
					What facts support your negative thoughts? For example:

					- experiences you've had
					- things people have said
					- research you've heard about

			textarea

		.form-group

			label What evidence contradicts those thoughts?

			details

				summary Help

				:markdown
					What facts contradict your negative thoughts? For example:

					- experiences you've had
					- things people have said
					- research you've heard about

			textarea

		.form-group

			label What are some new, positive thoughts?

			textarea

		.form-group

			label How do you feel?

			input

			label From 1 to 10, how intense is this feeling?

			input.small(type="number")

		p Hopefully, by thinking through these questions, you'll now be feeling more positive about your situation.
