/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* turn off number input style */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* general */

body {
  padding: 0;
  margin: 0;
  background: #F0F0F0;
}


header,
main,
footer{
	max-width: 600px;
	margin: auto;
}

header{
	margin-bottom: 1em;
}

header a{
	text-decoration: none;
}

footer{
	margin-top: 40px;
	margin-bottom: 100px;
	font-size: 16px;
}

a {
  color: #00B7FF;
}

.hidden{
	display: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	padding: 0.5em 0;
}

#templates{
	display: none;
}

h1,h2{
	margin-top: 10px;
	margin-bottom: 0;
}

.subtitle{
}


/* Typography */

body{
  color: #222;
  font: 19px 'Roboto', sans-serif;
  font-weight: lighter;
  padding: 20px;
}

footer{
	font-size: 16px;
}

h1,h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 36px;
	letter-spacing: -0.04em;
}

h1 strong, h2 strong{
	font-weight: 400;
}

.subtitle{
	color: #999;
	font-size: 16px;
}

p{
	line-height: 1.5em;
}

button,
input,
textarea{
  font: 19px 'Roboto', sans-serif;
}

/* forms */

.form-group{
	margin: 40px 0;
}

label{
	display: block;
	margin: 10px 0;
	font-weight: normal;
}

input,
textarea{
	border: none;
	padding: 0.5em;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

input{
	width: 100%;
}

input.small{
	width: 33%;
}

textarea{
	width: 100%;
	height: 10em;
}

button{
	color: #FFF;
	background: #119922;
	border: none;
	padding: 0.5em;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	border-radius: 3px;
}

/* other */

details{
	margin: 20px 0;
}

summary{
	cursor: pointer;
}

.actions{
	padding: 1em 0;
	font-size: 16px;
}

/* pages */

.pleasure-achievement .records{
	border-bottom: 1px solid #ccc;
}


.pleasure-achievement .record{
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #ccc;
}

.pleasure-achievement .record .time{
	font-size: 16px;

}

.pleasure-achievement .description .value{
	font-weight: normal;
	display: block;
	width: auto;
	margin: 1em 0;
}

.pleasure-achievement .label{
	display: inline-block;
	margin-right: 1em;
}

.pleasure-achievement .value{
	display: inline-block;
	width: 1em;
}

.pleasure-achievement .pleasure,
.pleasure-achievement .achievement{
	text-align: right;
}
